In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
#必要なライブラリをインポート
from PIL import Image
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
import sklearn
from sklearn.linear_model import LinearRegression

In [3]:
#画像ファイル（npyファイル）を読み込み
load_East_China_all = np.load('NTL-dataset/npy/East_China.npy')
load_France_all = np.load('NTL-dataset/npy/France.npy')
load_Italy_all = np.load('NTL-dataset/npy/Italy.npy')
load_USA_all = np.load('NTL-dataset/npy/USA.npy')
load_West_China_all = np.load('NTL-dataset/npy/West_China.npy')

In [308]:
#各国の画像ファイルに対して画素最大値255で割って、その合計値を配列に格納
East_China_all = []
France_all = []
Italy_all = []
USA_all = []
West_China_all = []

for  i in range(15):
    l = load_East_China_all[i, :, :] 
    j = l / 255
    n = round(j.sum())
    East_China_all.append(n)
    l = []

for  i in range(15):
    l = load_France_all[i, :, :] 
    j = l / 255
    n = round(j.sum())
    France_all.append(n)
    l = []

for  i in range(15):
    l = load_Italy_all[i, :, :] 
    j = l / 255
    n = j.sum()
    Italy_all.append(n)
    l = []
    
for  i in range(15):
    l = load_USA_all[i, :, :] 
    j = l / 255
    n = round(j.sum())
    USA_all.append(n)
    l = []
    
for  i in range(15):
    l = load_West_China_all[i, :, :] 
    j = l / 255
    n =round( j.sum())
    West_China_all.append(n)
    l = []

In [310]:
#イタリアの合計値を見てみる
Italy_all

[70151.477,
 53328.898,
 30140.141,
 48306.805,
 61992.336,
 31074.662,
 42280.562,
 74884.648,
 28759.822,
 61295.055,
 41654.277,
 26537.062,
 69054.141,
 36941.906,
 nan]

In [311]:
#コロナ学習データを読み込み
Covit19_train = pd.read_csv('COVID-19_train.csv', header=0)

In [312]:
Covit19_train

,Date,Aruba_total_cases,Aruba_new_cases,Aruba_total_deaths,Aruba_new_deaths,Afghanistan_total_cases,Afghanistan_new_cases,Afghanistan_total_deaths,Afghanistan_new_deaths,Angola_total_cases,...,Zambia_new_deaths,Zimbabwe_total_cases,Zimbabwe_new_cases,Zimbabwe_total_deaths,Zimbabwe_new_deaths,World_total_cases,World_new_cases,World_total_deaths,World_new_deaths,Price
0,2019-12-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,27,27,0,0,57.78005
1,2020-01-02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,27,0,0,0,57.79335
2,2020-01-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,44,17,0,0,57.81290
3,2020-01-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,59,0,0,0,57.83365
4,2020-01-07,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,59,0,0,0,57.84655
5,2020-01-08,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,59,0,0,0,57.84490
6,2020-01-09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,59,0,0,0,57.84835
7,2020-01-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,59,0,0,0,57.84990
8,2020-01-13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,60,1,1,0,57.84140
9,2020-01-14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,60,0,1,0,57.83615
10,2020-01-15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,61,1,2,1,57.82900
11,2020-01-16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,61,0,2,0,57.82065
12,2020-01-17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,66,5,2,0,57.80545
13,2020-01-21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,392,153,6,3,57.78405
14,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,534,142,17,11,57.75555
15,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,631,97,17,0,57.72250
16,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,897,266,26,9,57.67745
17,2020-01-27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2820,797,81,25,57.62105
18,2020-01-28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4587,1767,106,25,57.56745
19,2020-01-29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,6067,1480,132,26,57.51080
20,2020-01-30,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,7823,1756,170,38,57.45370
21,2020-01-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,9826,2003,213,43,57.39230
22,2020-02-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,17372,2818,362,57,57.32545
23,2020-02-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,20615,3243,427,65,57.25335
24,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,24522,3907,493,66,57.18900
25,2020-02-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,28273,3751,565,72,57.12360
26,2020-02-07,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,31491,3218,638,73,57.04700
27,2020-02-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,40540,2988,910,97,56.96375
28,2020-02-11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,43105,2565,1018,108,56.88395
29,2020-02-12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,45177,2072,1115,97,56.81345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,2020-02-19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,75191,1864,2012,139,56.58740
34,2020-02-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,75723,532,2128,116,56.54750
35,2020-02-21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,76719,996,2247,119,56.50440
36,2020-02-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,79339,527,2619,156,56.44970
37,2020-02-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,80132,793,2698,79,56.39155
38,2020-02-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,80997,865,2762,64,56.32425
39,2020-02-27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,82106,1109,2800,38,56.25220
40,2020-02-28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,83375,1269,2857,57,56.16810
41,2020-03-02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,89121,2079,3046,67,56.09715
42,2020-03-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,90943,1822,3118,72,56.02440
43,2020-03-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,93193,2250,3202,84,55.94815
44,2020-03-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,95464,2271,3282,80,55.86300
45,2020-03-06,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,98442,2978,3384,102,55.75485
46,2020-03-09,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,110633,4145,3813,228,55.59450
47,2020-03-10,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,115331,4698,4021,208,55.45175
48,2020-03-11,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,120250,4919,4293,272,55.31030
49,2020-03-12,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,127785,7535,4619,326,55.17985
50,2020-03-13,0,0,0,0,4,3,0,0,0,...,0,0,0,0,0,136806,9021,4968,349,55.04645
51,2020-03-16,0,0,0,0,16,6,0,0,0,...,0,0,0,0,0,171165,12357,6514,746,54.89670
52,2020-03-17,0,0,0,0,21,5,0,0,0,...,0,0,0,0,0,184905,13740,7112,598,54.73730
53,2020-03-18,0,0,0,0,22,1,0,0,0,...,0,0,0,0,0,201363,16458,7912,800,54.55735
54,2020-03-19,0,0,0,0,22,0,0,0,0,...,0,0,0,0,0,221172,19809,8854,942,54.41535
55,2020-03-20,0,0,0,0,22,0,0,0,0,...,0,0,0,0,0,251542,30370,9897,1043,54.24650
56,2020-03-23,2,2,0,0,34,10,0,0,2,...,0,2,0,0,0,350942,34000,14607,1641,54.09565
57,2020-03-24,4,2,0,0,40,6,1,1,2,...,0,2,0,1,1,393837,42895,16387,1780,53.94295
58,2020-03-25,12,8,0,0,42,2,1,0,2,...,0,2,0,1,0,434723,40886,18651,2264,53.78375
59,2020-03-26,17,5,0,0,75,33,1,0,2,...,0,3,1,1,0,486947,52224,21224,2573,53.59700
60,2020-03-27,19,2,0,0,75,0,1,0,3,...,0,3,0,1,0,547297,60350,23973,2749,53.40775
61,2020-03-30,28,0,0,0,114,8,4,1,7,...,0,7,0,1,0,732707,57810,34017,3129,53.21175
62,2020-03-31,50,22,0,0,141,27,4,0,7,...,0,7,0,1,0,796268,63561,37911,3894,53.05865

In [313]:
#データフレームに取り込み
Covit19_train_df = DataFrame(Covit19_train)

In [314]:
#イタリアのトータル感染者数の列番号を取得
Covit19_train_df.columns.get_loc('Italy_total_cases')

389

In [315]:
#原油価格の列番号を取得
Covit19_train_df.columns.get_loc('Price')

845

In [316]:
#コロナ学習データからイタリアの日付、感染者数累計、新規感染者数、死亡者累計、新規死亡者、原油価格を抽出
Covit19_train_df_Italy = Covit19_train_df.iloc[:,[0,389,390,391,392,845]]

In [317]:
Covit19_train_df_Italy

,Date,Italy_total_cases,Italy_new_cases,Italy_total_deaths,Italy_new_deaths,Price
0,2019-12-31,0,0,0,0,57.78005
1,2020-01-02,0,0,0,0,57.79335
2,2020-01-03,0,0,0,0,57.81290
3,2020-01-06,0,0,0,0,57.83365
4,2020-01-07,0,0,0,0,57.84655
5,2020-01-08,0,0,0,0,57.84490
6,2020-01-09,0,0,0,0,57.84835
7,2020-01-10,0,0,0,0,57.84990
8,2020-01-13,0,0,0,0,57.84140
9,2020-01-14,0,0,0,0,57.83615
10,2020-01-15,0,0,0,0,57.82900
11,2020-01-16,0,0,0,0,57.82065
12,2020-01-17,0,0,0,0,57.80545
13,2020-01-21,0,0,0,0,57.78405
14,2020-01-22,0,0,0,0,57.75555
15,2020-01-23,0,0,0,0,57.72250
16,2020-01-24,0,0,0,0,57.67745
17,2020-01-27,0,0,0,0,57.62105
18,2020-01-28,0,0,0,0,57.56745
19,2020-01-29,0,0,0,0,57.51080
20,2020-01-30,0,0,0,0,57.45370
21,2020-01-31,3,3,0,0,57.39230
22,2020-02-03,3,0,0,0,57.32545
23,2020-02-04,3,0,0,0,57.25335
24,2020-02-05,3,0,0,0,57.18900
25,2020-02-06,3,0,0,0,57.12360
26,2020-02-07,3,0,0,0,57.04700
27,2020-02-10,3,0,0,0,56.96375
28,2020-02-11,3,0,0,0,56.88395
29,2020-02-12,3,0,0,0,56.81345
...,...,...,...,...,...,...
33,2020-02-19,3,0,0,0,56.58740
34,2020-02-20,3,0,0,0,56.54750
35,2020-02-21,3,0,0,0,56.50440
36,2020-02-24,132,53,2,0,56.44970
37,2020-02-25,229,97,6,4,56.39155
38,2020-02-26,322,93,11,5,56.32425
39,2020-02-27,400,78,12,1,56.25220
40,2020-02-28,650,250,17,5,56.16810
41,2020-03-02,1689,561,35,6,56.09715
42,2020-03-03,2036,347,52,17,56.02440
43,2020-03-04,2502,466,80,28,55.94815
44,2020-03-05,3089,587,107,27,55.86300
45,2020-03-06,3858,769,148,41,55.75485
46,2020-03-09,7375,1492,366,133,55.59450
47,2020-03-10,9172,1797,464,98,55.45175
48,2020-03-11,10149,977,631,167,55.31030
49,2020-03-12,12462,2313,827,196,55.17985
50,2020-03-13,15113,2651,1016,189,55.04645
51,2020-03-16,23980,2823,1811,370,54.89670
52,2020-03-17,27980,4000,2158,347,54.73730
53,2020-03-18,31506,3526,2505,347,54.55735
54,2020-03-19,35713,4207,2978,473,54.41535
55,2020-03-20,41035,5322,3407,429,54.24650
56,2020-03-23,59138,5560,5476,649,54.09565
57,2020-03-24,63927,4789,6077,601,53.94295
58,2020-03-25,69176,5249,6820,743,53.78375
59,2020-03-26,74386,5210,7505,685,53.59700
60,2020-03-27,80539,6153,8165,660,53.40775
61,2020-03-30,97689,5217,10781,758,53.21175
62,2020-03-31,101739,4050,11591,810,53.05865

In [318]:
#抽出した表からイタリアのNTL画像データを入れ込み
Covit19_train_df_Italy.insert(5, 'NTL', Italy_all[0])

In [319]:
Covit19_train_df_Italy

,Date,Italy_total_cases,Italy_new_cases,Italy_total_deaths,Italy_new_deaths,NTL,Price
0,2019-12-31,0,0,0,0,70151.476562,57.78005
1,2020-01-02,0,0,0,0,70151.476562,57.79335
2,2020-01-03,0,0,0,0,70151.476562,57.81290
3,2020-01-06,0,0,0,0,70151.476562,57.83365
4,2020-01-07,0,0,0,0,70151.476562,57.84655
5,2020-01-08,0,0,0,0,70151.476562,57.84490
6,2020-01-09,0,0,0,0,70151.476562,57.84835
7,2020-01-10,0,0,0,0,70151.476562,57.84990
8,2020-01-13,0,0,0,0,70151.476562,57.84140
9,2020-01-14,0,0,0,0,70151.476562,57.83615
10,2020-01-15,0,0,0,0,70151.476562,57.82900
11,2020-01-16,0,0,0,0,70151.476562,57.82065
12,2020-01-17,0,0,0,0,70151.476562,57.80545
13,2020-01-21,0,0,0,0,70151.476562,57.78405
14,2020-01-22,0,0,0,0,70151.476562,57.75555
15,2020-01-23,0,0,0,0,70151.476562,57.72250
16,2020-01-24,0,0,0,0,70151.476562,57.67745
17,2020-01-27,0,0,0,0,70151.476562,57.62105
18,2020-01-28,0,0,0,0,70151.476562,57.56745
19,2020-01-29,0,0,0,0,70151.476562,57.51080
20,2020-01-30,0,0,0,0,70151.476562,57.45370
21,2020-01-31,3,3,0,0,70151.476562,57.39230
22,2020-02-03,3,0,0,0,70151.476562,57.32545
23,2020-02-04,3,0,0,0,70151.476562,57.25335
24,2020-02-05,3,0,0,0,70151.476562,57.18900
25,2020-02-06,3,0,0,0,70151.476562,57.12360
26,2020-02-07,3,0,0,0,70151.476562,57.04700
27,2020-02-10,3,0,0,0,70151.476562,56.96375
28,2020-02-11,3,0,0,0,70151.476562,56.88395
29,2020-02-12,3,0,0,0,70151.476562,56.81345
...,...,...,...,...,...,...,...
33,2020-02-19,3,0,0,0,70151.476562,56.58740
34,2020-02-20,3,0,0,0,70151.476562,56.54750
35,2020-02-21,3,0,0,0,70151.476562,56.50440
36,2020-02-24,132,53,2,0,70151.476562,56.44970
37,2020-02-25,229,97,6,4,70151.476562,56.39155
38,2020-02-26,322,93,11,5,70151.476562,56.32425
39,2020-02-27,400,78,12,1,70151.476562,56.25220
40,2020-02-28,650,250,17,5,70151.476562,56.16810
41,2020-03-02,1689,561,35,6,70151.476562,56.09715
42,2020-03-03,2036,347,52,17,70151.476562,56.02440
43,2020-03-04,2502,466,80,28,70151.476562,55.94815
44,2020-03-05,3089,587,107,27,70151.476562,55.86300
45,2020-03-06,3858,769,148,41,70151.476562,55.75485
46,2020-03-09,7375,1492,366,133,70151.476562,55.59450
47,2020-03-10,9172,1797,464,98,70151.476562,55.45175
48,2020-03-11,10149,977,631,167,70151.476562,55.31030
49,2020-03-12,12462,2313,827,196,70151.476562,55.17985
50,2020-03-13,15113,2651,1016,189,70151.476562,55.04645
51,2020-03-16,23980,2823,1811,370,70151.476562,54.89670
52,2020-03-17,27980,4000,2158,347,70151.476562,54.73730
53,2020-03-18,31506,3526,2505,347,70151.476562,54.55735
54,2020-03-19,35713,4207,2978,473,70151.476562,54.41535
55,2020-03-20,41035,5322,3407,429,70151.476562,54.24650
56,2020-03-23,59138,5560,5476,649,70151.476562,54.09565
57,2020-03-24,63927,4789,6077,601,70151.476562,53.94295
58,2020-03-25,69176,5249,6820,743,70151.476562,53.78375
59,2020-03-26,74386,5210,7505,685,70151.476562,53.59700
60,2020-03-27,80539,6153,8165,660,70151.476562,53.40775
61,2020-03-30,97689,5217,10781,758,70151.476562,53.21175
62,2020-03-31,101739,4050,11591,810,70151.476562,53.05865

In [320]:
for  i in range(8):
    Covit19_train_df_Italy.iloc[i,5] = Italy_all[0]

for  i in range(5):
    j = i + 8
    Covit19_train_df_Italy.iloc[j,5] = Italy_all[1]
    
for  i in range(8):
    j = i + 13
    Covit19_train_df_Italy.iloc[j,5] = Italy_all[2]
    
for  i in range(6):
    j = i + 21
    Covit19_train_df_Italy.iloc[j,5] = Italy_all[3]
    
for  i in range(7):
    j = i + 27
    Covit19_train_df_Italy.iloc[j,5] = Italy_all[4]
    
for  i in range(7):
    j = i + 34
    Covit19_train_df_Italy.iloc[j,5] = Italy_all[5]
    
for  i in range(7):
    j = i + 41
    Covit19_train_df_Italy.iloc[j,5] = Italy_all[6]
    
for  i in range(8):
    j = i + 48
    Covit19_train_df_Italy.iloc[j,5] = Italy_all[7]
    
for  i in range(7):
    j = i + 56
    Covit19_train_df_Italy.iloc[j,5] = Italy_all[8]

/Users/hiroya/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [321]:
Covit19_train_df_Italy

,Date,Italy_total_cases,Italy_new_cases,Italy_total_deaths,Italy_new_deaths,NTL,Price
0,2019-12-31,0,0,0,0,70151.476562,57.78005
1,2020-01-02,0,0,0,0,70151.476562,57.79335
2,2020-01-03,0,0,0,0,70151.476562,57.81290
3,2020-01-06,0,0,0,0,70151.476562,57.83365
4,2020-01-07,0,0,0,0,70151.476562,57.84655
5,2020-01-08,0,0,0,0,70151.476562,57.84490
6,2020-01-09,0,0,0,0,70151.476562,57.84835
7,2020-01-10,0,0,0,0,70151.476562,57.84990
8,2020-01-13,0,0,0,0,53328.898438,57.84140
9,2020-01-14,0,0,0,0,53328.898438,57.83615
10,2020-01-15,0,0,0,0,53328.898438,57.82900
11,2020-01-16,0,0,0,0,53328.898438,57.82065
12,2020-01-17,0,0,0,0,53328.898438,57.80545
13,2020-01-21,0,0,0,0,30140.140625,57.78405
14,2020-01-22,0,0,0,0,30140.140625,57.75555
15,2020-01-23,0,0,0,0,30140.140625,57.72250
16,2020-01-24,0,0,0,0,30140.140625,57.67745
17,2020-01-27,0,0,0,0,30140.140625,57.62105
18,2020-01-28,0,0,0,0,30140.140625,57.56745
19,2020-01-29,0,0,0,0,30140.140625,57.51080
20,2020-01-30,0,0,0,0,30140.140625,57.45370
21,2020-01-31,3,3,0,0,48306.804688,57.39230
22,2020-02-03,3,0,0,0,48306.804688,57.32545
23,2020-02-04,3,0,0,0,48306.804688,57.25335
24,2020-02-05,3,0,0,0,48306.804688,57.18900
25,2020-02-06,3,0,0,0,48306.804688,57.12360
26,2020-02-07,3,0,0,0,48306.804688,57.04700
27,2020-02-10,3,0,0,0,61992.335938,56.96375
28,2020-02-11,3,0,0,0,61992.335938,56.88395
29,2020-02-12,3,0,0,0,61992.335938,56.81345
...,...,...,...,...,...,...,...
33,2020-02-19,3,0,0,0,61992.335938,56.58740
34,2020-02-20,3,0,0,0,31074.662109,56.54750
35,2020-02-21,3,0,0,0,31074.662109,56.50440
36,2020-02-24,132,53,2,0,31074.662109,56.44970
37,2020-02-25,229,97,6,4,31074.662109,56.39155
38,2020-02-26,322,93,11,5,31074.662109,56.32425
39,2020-02-27,400,78,12,1,31074.662109,56.25220
40,2020-02-28,650,250,17,5,31074.662109,56.16810
41,2020-03-02,1689,561,35,6,42280.562500,56.09715
42,2020-03-03,2036,347,52,17,42280.562500,56.02440
43,2020-03-04,2502,466,80,28,42280.562500,55.94815
44,2020-03-05,3089,587,107,27,42280.562500,55.86300
45,2020-03-06,3858,769,148,41,42280.562500,55.75485
46,2020-03-09,7375,1492,366,133,42280.562500,55.59450
47,2020-03-10,9172,1797,464,98,42280.562500,55.45175
48,2020-03-11,10149,977,631,167,74884.648438,55.31030
49,2020-03-12,12462,2313,827,196,74884.648438,55.17985
50,2020-03-13,15113,2651,1016,189,74884.648438,55.04645
51,2020-03-16,23980,2823,1811,370,74884.648438,54.89670
52,2020-03-17,27980,4000,2158,347,74884.648438,54.73730
53,2020-03-18,31506,3526,2505,347,74884.648438,54.55735
54,2020-03-19,35713,4207,2978,473,74884.648438,54.41535
55,2020-03-20,41035,5322,3407,429,74884.648438,54.24650
56,2020-03-23,59138,5560,5476,649,28759.822266,54.09565
57,2020-03-24,63927,4789,6077,601,28759.822266,53.94295
58,2020-03-25,69176,5249,6820,743,28759.822266,53.78375
59,2020-03-26,74386,5210,7505,685,28759.822266,53.59700
60,2020-03-27,80539,6153,8165,660,28759.822266,53.40775
61,2020-03-30,97689,5217,10781,758,28759.822266,53.21175
62,2020-03-31,101739,4050,11591,810,28759.822266,53.05865

In [322]:
#Covit19_train_df_Italyから重回帰分析を実施
lreg = LinearRegression()
#Covit19_train_df_Italyから、新規感染者数、新規死者数、コロナデータを説明変数として抽出
X_multi = Covit19_train_df_Italy.iloc[:,[2,4,5]]
#Covit19_train_df_Italyから、原油価格を目的変数として抽出
Y_target = Covit19_train_df_Italy.Price

In [323]:
#重回帰分析
lreg.fit(X_multi,Y_target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [324]:
print('係数の数は{}個'.format(len(lreg.coef_)))

係数の数は3個

In [325]:
#重回帰分析で求められた結果、各説明変数の係数を表示
coeff_df = DataFrame(X_multi.columns)
coeff_df.columns = ['Features']

coeff_df["Coefficient Estimate"] = pd.Series(lreg.coef_)

coeff_df

           Features  Coefficient Estimate
0   Italy_new_cases             -0.000552
1  Italy_new_deaths             -0.001084
2               NTL              0.000005

In [326]:
#コロナテストデータを用いて、予測をするためにテストデータを読み込み
Covit19_test = pd.read_csv('COVID-19_test.csv', header=0)
Covit19_test_df_italy = DataFrame(Covit19_test)

In [327]:
#学習データと同様に前処理
Covit19_test_df_Italy_format = Covit19_test_df_italy.iloc[:,[0,389,390,391,392]]
Covit19_test_df_Italy_format.insert(5, 'NTL', Italy_all[0])

In [328]:
Covit19_test_df_Italy_format

,Date,Italy_total_cases,Italy_new_cases,Italy_total_deaths,Italy_new_deaths,NTL
0,2020-04-01,105792,4053,12430,839,70151.476562
1,2020-04-02,110574,4782,13157,727,70151.476562
2,2020-04-03,115242,4668,13917,760,70151.476562
3,2020-04-06,128948,4316,15889,527,70151.476562
4,2020-04-07,132547,3599,16525,636,70151.476562
5,2020-04-08,135586,3039,17129,604,70151.476562
6,2020-04-09,139422,3836,17669,540,70151.476562
7,2020-04-13,156363,4092,19901,431,70151.476562
8,2020-04-14,159516,3153,20465,564,70151.476562
9,2020-04-15,162488,2972,21069,604,70151.476562
10,2020-04-16,165155,2667,21647,578,70151.476562
11,2020-04-17,168941,3786,22172,525,70151.476562
12,2020-04-20,178972,3047,23660,433,70151.476562
13,2020-04-21,181228,2256,24114,454,70151.476562
14,2020-04-22,183957,2729,24648,534,70151.476562
15,2020-04-23,187327,3370,25085,437,70151.476562
16,2020-04-24,189973,2646,25549,464,70151.476562
17,2020-04-27,197675,2324,26644,260,70151.476562
18,2020-04-28,199414,1739,26977,333,70151.476562
19,2020-04-29,201505,2091,27359,382,70151.476562
20,2020-04-30,203591,2086,27682,323,70151.476562
21,2020-05-01,205463,1872,27967,285,70151.476562
22,2020-05-04,210717,1389,28884,174,70151.476562
23,2020-05-05,211938,1221,29079,195,70151.476562
24,2020-05-06,213013,1075,29315,236,70151.476562
25,2020-05-07,214457,1444,29684,369,70151.476562
26,2020-05-08,215858,1401,29958,274,70151.476562
27,2020-05-11,219070,802,30560,165,70151.476562
28,2020-05-12,219814,744,30739,179,70151.476562
29,2020-05-13,221216,1402,30911,172,70151.476562
30,2020-05-14,222104,888,31106,195,70151.476562
31,2020-05-15,223096,992,31368,262,70151.476562
32,2020-05-18,225435,675,31908,145,70151.476562
33,2020-05-19,225886,451,32007,99,70151.476562
34,2020-05-20,226699,813,32169,162,70151.476562
35,2020-05-21,227364,665,32330,161,70151.476562
36,2020-05-22,228006,642,32486,156,70151.476562

In [329]:
for  i in range(7):
    Covit19_test_df_Italy_format.iloc[i,5] = Italy_all[9]
    
for  i in range(5):
    j = i + 7
    Covit19_test_df_Italy_format.iloc[j,5] = Italy_all[10]
    
for  i in range(8):
    j = i + 12
    Covit19_test_df_Italy_format.iloc[j,5] = Italy_all[11]
    
for  i in range(7):
    j = i + 20
    Covit19_test_df_Italy_format.iloc[j,5] = Italy_all[12]
    
for  i in range(10):
    j = i + 27
    Covit19_test_df_Italy_format.iloc[j,5] = Italy_all[13]
    
'''for  i in range(3):
    j = i + 34
    Covit19_test_df_Italy_format.iloc[j,5] = Italy_all[14]'''

/Users/hiroya/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

'for  i in range(3):\n    j = i + 34\n    Covit19_test_df_Italy_format.iloc[j,5] = Italy_all[14]'

In [330]:
#表成形後
Covit19_test_df_Italy_format

,Date,Italy_total_cases,Italy_new_cases,Italy_total_deaths,Italy_new_deaths,NTL
0,2020-04-01,105792,4053,12430,839,61295.054688
1,2020-04-02,110574,4782,13157,727,61295.054688
2,2020-04-03,115242,4668,13917,760,61295.054688
3,2020-04-06,128948,4316,15889,527,61295.054688
4,2020-04-07,132547,3599,16525,636,61295.054688
5,2020-04-08,135586,3039,17129,604,61295.054688
6,2020-04-09,139422,3836,17669,540,61295.054688
7,2020-04-13,156363,4092,19901,431,41654.277344
8,2020-04-14,159516,3153,20465,564,41654.277344
9,2020-04-15,162488,2972,21069,604,41654.277344
10,2020-04-16,165155,2667,21647,578,41654.277344
11,2020-04-17,168941,3786,22172,525,41654.277344
12,2020-04-20,178972,3047,23660,433,26537.062500
13,2020-04-21,181228,2256,24114,454,26537.062500
14,2020-04-22,183957,2729,24648,534,26537.062500
15,2020-04-23,187327,3370,25085,437,26537.062500
16,2020-04-24,189973,2646,25549,464,26537.062500
17,2020-04-27,197675,2324,26644,260,26537.062500
18,2020-04-28,199414,1739,26977,333,26537.062500
19,2020-04-29,201505,2091,27359,382,26537.062500
20,2020-04-30,203591,2086,27682,323,69054.140625
21,2020-05-01,205463,1872,27967,285,69054.140625
22,2020-05-04,210717,1389,28884,174,69054.140625
23,2020-05-05,211938,1221,29079,195,69054.140625
24,2020-05-06,213013,1075,29315,236,69054.140625
25,2020-05-07,214457,1444,29684,369,69054.140625
26,2020-05-08,215858,1401,29958,274,69054.140625
27,2020-05-11,219070,802,30560,165,36941.906250
28,2020-05-12,219814,744,30739,179,36941.906250
29,2020-05-13,221216,1402,30911,172,36941.906250
30,2020-05-14,222104,888,31106,195,36941.906250
31,2020-05-15,223096,992,31368,262,36941.906250
32,2020-05-18,225435,675,31908,145,36941.906250
33,2020-05-19,225886,451,32007,99,36941.906250
34,2020-05-20,226699,813,32169,162,36941.906250
35,2020-05-21,227364,665,32330,161,36941.906250
36,2020-05-22,228006,642,32486,156,36941.906250

In [331]:
#予測用の説明変数をX_multi_testに格納
X_multi_test = Covit19_test_df_italy.iloc[:,[2,4,5]]

#学習データの説明変数をX_multi_trainに目的変数(原油価格)をY_target_trainにを格納
X_multi_train = Covit19_train_df_Italy.iloc[:,[2,4,5]]
Y_target_train = Covit19_train_df.Price

In [332]:
#予測モデルを作成
reg = LinearRegression()

lreg.fit(X_multi_train,Y_target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [333]:
pred_train = lreg.predict(X_multi_train)
#予測結果をpred_testに格納
pred_test = lreg.predict(X_multi_test)

In [334]:
#予測結果を出力
print(pred_test)

[ 56.86733537  56.87022846  56.86768914  56.87077706  56.86710818
  56.86946983  56.86975694  56.8723562   56.87265357  56.8729048   56.871628
  56.87221105  56.87379867  56.87453008  56.87484283  56.87361763
  56.87581185  56.87709362  56.87797548  56.87861123  56.87923674
  56.88037495  56.88310768  56.88408183  56.88577376  56.88608315
  56.88642811  56.89181346  56.89327468  56.89471026  56.89603817
  56.89661753  56.90341091  56.90550276  56.90848159  56.91100412
  56.91372659]